*{
    margin: 0;
}

/* Styling header & nav bar */
.header{
    height: 60px;
    width: 1519.2px;
    padding: 20px;
}
.nav > a{
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.nav > a:hover{
    text-decoration: underline;
    color: black;
}

.nav{
    display: flex;
    position: absolute;
    justify-content: space-around;
    right: 0px;
    width: 253.59px;
    height: 48px;
    padding: 0px 4px 0px 32px;
}

/* Styling google logo */
#logo{
    width: 1519.2px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
padding: 20px;
width: 1519.2px;
height: 141.6px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

/* Styling the input search bar */
#input{
    height: 46px;
    background: #fff;
    border: 2px solid #dfe1e5;
    border-radius: 24px;
    width: 638px;
    padding: 5px 8px 0px 14px;
}

#input:hover{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

#search_icon{
    width: 33px;
    height: 46px;
    margin: -5px 0px 0px;
    position: relative;
    left: 20px;
    top: 65px;
}
#cross{
    border: none;
    font-size: 22px;
    background-color: white;
  position: relative;
  right: 150px;  
  top: 0px;
  cursor: pointer;
  color:  rgba(0, 0, 0, .60);
}

#mic_icon{
position: relative;
right: 130px;
top: 3px;
cursor: pointer;
}

#search_by_image{
    position: relative;
    right: 110px;
    top: 6px;
    cursor: pointer;
}
.query{
    padding: 5px 8px 0px 14px;
    background-color: #fff;
    margin: 0px 0px 8px;
    color: rgba(0, 0, 0, .87);
    font-size: 15px;
    font-family: arial, sans-serif;
    border: none;
}

/* Styling all the buttons available */
.buttons{
    width: 584px;
    height: 88px;
    padding: 18px 0px 0px;
    position: relative;
    left: 150px

}
.buttons > button{
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.buttons > button:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

/* Styling the portion of no. of languages google offer  */

.offer{
    width: 1519.2px;
    height: 52px;
    font-size: 13px;
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-content > p > a{
    color: #1A0DAB;
    text-decoration: none;
    padding: 0px 3px;
}
.offer-content>p>a:hover{
    text-decoration: underline;
}
.offer-content {
    width: 533.9px;
    height: 28px;
}

/* Styling footer portion */

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#footer1{
    color: #202124;
    padding: 15px 30px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    font-family: arial, sans-serif;
    background-color: #F0F0F0;
}

.footer2{
    display: flex;
    justify-content: space-between;
    background-color: #F0F0F0;
    padding: 0px 20px;
    height: 46.8px;
    width: 1519.2px;
}

.footer2-div1{
    display: flex;
    flex-wrap: wrap;
}
.footer2-div2{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 40px;  
}
.footer2-div2 > a{
    color: #202124;
    text-decoration: none;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 15px;
}
.footer2-div2>a:hover{
    text-decoration: underline;
}
.footer2-div1 > a{
    color: #202124;
    text-decoration: none;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 15px;
}

.footer2-div1 > a:hover{
    text-decoration: underline;
}

/* Using media queries to make webpage responsive  */
@media (max-width: 1080px){
    #logo, .search, .offer{
        width: 1300px;
    }
}

@media (max-width: 970px){
    #logo, .search, .offer{
        width: 1000px;
    }
}

@media (max-width: 820px){
    #logo, .search, .offer{
        width: 650px;
    }
}

@media(max-width: 680px){
    .footer2-div2{
        display: none;
    }
    #logo, .offer{
        width: 600px;
        margin-left: 15px;
    }
    .search{
        width: 400px;
        margin-left: 120px;

    }
}
